body {
  background-color: #DCDCDC;
}

body.open {
  margin-right: 30%;
}

.total{
  display: flex;
}

.summary{
  display: flex;
  background-color: #fff;
  padding: 16px;
}

.summary .wrapper{
  width: 20%;
}

.actions {
  display: flex;
  margin: 1rem 0;
}

.totalAmount{
  font-weight: bold;
}

.summarySpan{
  color: grey;
}